<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<!-- this template was designed by http://www.tristarwebdesign.co.uk - please visit for more templates & information - thank you. -->
<head>
    <title>Fans de las aves chilenas (SWSEC Intro)</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>

<div id="border">
    <div id="container">

        <div id="top">
            <div th:replace="~{fragments :: header}">...</div>
        </div>

        <div id="content">
            <p th:text="'The time is, ' + ${serverTime} + '!'" />
        </div>

        <div id="footer">
            <div th:replace="~{fragments :: footer}">...</div>
        </div>

    </div>

</div>


</body>
</html>
